<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação da Senha</title>
    <link rel="stylesheet" href="/static/css/pass.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2>Recuperação da Senha</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Digite seu e-mail" required>
            <button type="submit">Enviar Link de Recuperação</button>
        </form>
        <div class="form-footer">
            <a href="/" onclick="toggleForm('login')">Voltar para Login</a>
        </div>
    </div>
</div>
</body>
</html>
