<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Suporte ao Jogador</title>
    <link rel="stylesheet" href="/static/css/suporte.css">


</head>
<body>
<div class="container">
    <img src="/static/images/horror.png" alt="Logo de Suporte" id="main-logo">

    <h2>Suporte ao Jogador</h2>

    <p>Se você precisar de ajuda, estamos aqui para você. Entre em contato usando as informações abaixo:</p>

    <div class="support-info">
        <h3>Email:</h3>
        <p>horrorbento@gmail.com</p>

        <h3>Telefone:</h3>
        <p>937 635 572</p>
    </div>

    <div class="links-section">
        <a href="{{ url_for('index') }}" class="button">Voltar para Página Inicial</a>
    </div>

</div>
</body>
</html>